    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Lean-project.com</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#tour">Tour</a></li>
              <li><a href="#plans">Price plans</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <b class="caret"></b></a>
                <ul class="dropdown-menu">
	              <li><a href="http://blog.agilu.com">Blog</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#contact">Contact</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <button type="submit" class="btn btn-primary">I want to try now!</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h1>Put the best odds on your side!</h1>
        <h3>We want your company to be successful</h3>
        <p>We assist you in boosting your overall productivity with a secure online management service that :
        	<ul>
        		<li>provides a feedback system which enables employees at all levels to make better decisions.</li>
        		<li>encourages your teams to focus in the same direction to achieve your company’s goals.</li>
        	</ul>
        </p>
        <p>
	        <a target="_blank" href="http://blog.agilu.com/mission/" class="btn btn-large">Read our mission statement &raquo;</a>
	        <a href="#" class="btn btn-primary btn-large">Try now</a>
        </p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>You're an executive</h2>
          <p>Know what's going on in your company with the right level of information. </p>
          <p>Comprehensive dashboards help you pinpoint bottlenecks, improve management practices and take informed business decisions. </p>
          <p><a class="btn" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>You're a manager</h2>
          <p>Our service shows you in real time how your projects are progressing. </p>
          <p>It will help you organize teams, handle resources and dependencies between projects. It can show you the impact of changing priorities, adding another project... </p>
          <p>It can inform you about critical events such as people working on too many things at the same time, project fragmentation, deadlines. </p>
          <p><a class="btn" href="#">Learn more &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>You're a staff member</h2>
          <p>See the big picture by gaining visibility on company's goals. </p>
          <p>Stay informed about what other teams are doing. </p>
          <p>Our service will guide you through proven productivity improving practices. </p>
          <p><a class="btn" href="#">Learn more &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; lean-project.com 2013</p>
      </footer>

    </div> <!-- /container -->

